.users {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.user_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 700px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 10px;
  padding: 20px 0;
  margin-bottom: 10px;
}
.user_info {
  flex: 5;
  display: flex;
  flex-direction: column;

  p {
    margin-top: 10px;
  }
}
.user_avatar {
  display: flex;
  justify-content: center;
  flex: 2;

  img {
    width: 120px;
    height: 120px;
    margin: 5px;
    border-radius: 150px;
  }
}
.user_buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user_edit_button {
  font-size: 20px;
  margin-bottom: 10px;

  &:hover {
    color: #2db7f5;
  }
}
.user_delete_button {
  font-size: 20px;

  &:hover {
    color: #2db7f5;
  }
}

//
//@media screen and (max-width: 650px) {
//  section.users {
//    display: flex;
//    flex-direction: column;
//    justify-content: center;
//    align-items: center;
//    width: 100%;
//    justify-content: center;
//    margin-top: 10px;
//    .user__item {
//      display: flex;
//      flex-direction: column;
//      justify-content: flex-start;
//      align-items: center;
//      width: 300px;
//      border: 1px solid rgb(199, 199, 199);
//      border-radius: 10px;
//      margin: 0px 10px;
//      padding: 20px 0;
//      margin-bottom: 10px;
//      .user__avatar {
//
//        img {
//          width: 120px;
//          height: 120px;
//          margin: 5px;
//          border-radius: 150px;
//        }
//      }
//      .user__info {
//        flex: 5;
//        display: flex;
//        flex-direction: column;
//        justify-content: center;
//        align-items: center;
//        p {
//          display: flex;
//          flex-direction: column;
//          justify-content: center;
//          align-items: center;
//          margin-top: 10px;
//          &.website {
//            display: none;
//          }
//        }
//      }
//      .user__buttons {
//        flex: 1;
//        display: flex;
//        justify-content: center;
//        align-items: center;
//        margin-top: 10px;
//        .user__edit_button {
//          font-size: 25px;
//          margin-right: 20px;
//          &:hover {
//            color: #2db7f5;
//          }
//        }
//        .user__delete_button{
//          font-size: 25px;
//          &:hover {
//            color: #2db7f5;
//          }
//        }
//      }
//    }
//  }
//}
//.pagination {
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  margin: 20px;
//}